<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: GPL-2.0

	Copyright (C) 2019 WireGuard LLC. All Rights Reserved.
-->
<?if $(var.EDDIE_WINTUN_PLATFORM) = "amd64"?>
	<?define UpgradeCode = "e8da0a05-0cba-48e3-9a1e-68e17221e98e"?>
<?elseif $(var.EDDIE_WINTUN_PLATFORM) = "x86"?>
	<?define UpgradeCode = "bf529906-5130-4fc5-a242-edb6745d3c11"?>
<?else?>
	<?error Unknown platform ?>
<?endif?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*"
		Name="Eddie_WinTun"
		Language="1033"
		Version="1.0"
		Manufacturer="eddie.website"
		UpgradeCode="$(var.UpgradeCode)">
		<Package
			InstallerVersion="400"
			Compressed="yes"
			InstallScope="perMachine"
			Description="Eddie_WinTun: Eddie Distribution of Wintun"
			ReadOnly="yes" />

		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="ARPSYSTEMCOMPONENT" Value="1" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="DISABLEROLLBACK" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />

		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of Eddie_wintun is already installed."
			Schedule="afterInstallExecute" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Merge Id="WintunMergeModule" Language="0" DiskId="1" SourceFile=".deps\wintun-$(var.EDDIE_WINTUN_PLATFORM).msm" />
		</Directory>

		<Feature Id="WintunFeature" Title="Wintun" Level="1">
			<MergeRef Id="WintunMergeModule" />
		</Feature>
	</Product>
</Wix>
