<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Mixed (C++ /CLR) Minimum Rules" Description="These rules focus on the most critical problems in your C++ projects that support the Common Language Runtime , including potential security holes, application crashes, and other important logic and design errors. It is recommended to include this rule set in any custom rule set you create for your C++ projects that support the Common Language Runtime." ToolsVersion="10.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="MixedMinimumRules_Name" />
    <Description Resource="MixedMinimumRules_Description" />
  </Localization>
  <Include Path="NativeMinimumRules.ruleset" Action="Default" />
  <Include Path="ManagedMinimumRules.ruleset" Action="Default" />
</RuleSet>
