Package: eddie-ui
Version: {@version}
Section: net
Maintainer: Eddie <maintainer@eddie.website>
Priority: optional
Architecture: {@architecture}
Installed-Size: 8192
Depends: libc6 (>= 2.3.2), pkexec | policykit-1, curl, libnotify-bin, openvpn, stunnel4, libcurl4, libsecret-tools, libayatana-appindicator3-1, mono-runtime-common
Breaks: airvpn (<< 2.14.4)
Replaces: airvpn (<< 2.14.4)
Homepage: https://eddie.website/
Description: Eddie - VPN Tunnel
 OpenVPN/WireGuard UI with additional user-friendly features
 Open-Source, GPLv3, Developed by AirVPN


