<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
 
  <vendor>Eddie.website and AirVPN community</vendor>
  <vendor_url>https://eddie.website</vendor_url>
  
  <action id="org.airvpn.eddie.ui.elevated.policy">
    <message>Authentication is required to run elevated commands of Eddie - VPN Tunnel</message>    
    <description>Run Eddie as root</description>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/eddie-ui/eddie-cli-elevated</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
 
</policyconfig>
