<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.eddie.android" android:versionCode="8" android:versionName="1.0.9">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:label="Eddie" android:icon="@drawable/Icon" android:theme="@style/EddieTheme"></application>
</manifest>