# <eddie_source_header>
# This file is part of Eddie/AirVPN software.
# Copyright (C)2014-2022 AirVPN (support@airvpn.org) / https://airvpn.org
#
# Eddie is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
#/ Eddie is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with Eddie. If not, see <http://www.gnu.org/licenses/>.
# </eddie_source_header>

# NOTE: Requires **VS2019 16.3** or later

# Eddie Rules

# There are '#pragma warning' in files directly:
# - When related to specific scope, generally linux/Mono.
# - CA1416 for Windows-only code (net6 dev)

# Code files
[*.{cs,vb}]

# Default severity for analyzer diagnostics - Requires **VS2019 16.5** or later
dotnet_analyzer_diagnostic.severity = warning

# Eddie - Right, TODO, WIP

dotnet_diagnostic.IDE0001.severity = none # Simplify name
dotnet_diagnostic.IDE0002.severity = none # Simplify member access
dotnet_diagnostic.IDE0003.severity = none # Name can be simplified.
dotnet_diagnostic.IDE0004.severity = none # Cast is redundant
dotnet_diagnostic.IDE0011.severity = none # Add braces # More than 1500 point, style only
dotnet_diagnostic.IDE0040.severity = none # Accessibility modifiers required
dotnet_diagnostic.IDE0044.severity = none # Add readonly modifier
dotnet_diagnostic.IDE0045.severity = none # 'if' statement can be simplified
dotnet_diagnostic.IDE0059.severity = none # Unnecessary assignment of a value to 'x' # Generally, unnecessary var initialization
dotnet_diagnostic.IDE0060.severity = none # Remove unused parameter 'x' if it is not part of a shipped public API
dotnet_diagnostic.IDE0100.severity = none # Remove redundant equality

# Eddie - Right, WIP, need test before fix

dotnet_diagnostic.IDE0220.severity = none # 'x' statement implicitly converts 'x' to 'x'. Add an explicit cast to make intent clearer, as it may fail at runtime

# Eddie - net6, fix not compatible with net4
#dotnet_diagnostic.CS8370.severity = none # CS8370	Feature 'target-typed object creation' is not available in C# 7.3. Please use language version 9.0 or greater.	
dotnet_diagnostic.CA1845.severity = none # CS1061	warning CA1845: Use span-based 'string.Concat' and 'AsSpan' instead of 'Substring'


# Eddie - Right, but ignored

dotnet_diagnostic.IDE1006.severity = none # Naming rule violation # WinForms code, will be deprecated
dotnet_diagnostic.CA1825.severity = none # CA1825: Avoid unnecessary zero-length array allocations.
dotnet_diagnostic.CA1805.severity = none # CA1805: Member 'x' is explicitly initialized to its default value


# Eddie - Not accepted: We prefer to avoid complex syntax, or we need to check if cause issues under Mono or Xamarin compiler

dotnet_diagnostic.IDE0017.severity = none # Object initialization can be simplified
dotnet_diagnostic.IDE0018.severity = none # Inline variable declaration
dotnet_diagnostic.IDE0019.severity = none # Use pattern matching
dotnet_diagnostic.IDE0020.severity = none # Use pattern matching
dotnet_diagnostic.IDE0025.severity = none # Use expression body for properties
dotnet_diagnostic.IDE0026.severity = none # Use expression body for indexers
dotnet_diagnostic.IDE0027.severity = none # Use expression body for accessors
dotnet_diagnostic.IDE0028.severity = none # Collection initialization can be simplified
dotnet_diagnostic.IDE0031.severity = none # Null check can be simplified
dotnet_diagnostic.IDE0038.severity = none # Use pattern matching
dotnet_diagnostic.IDE0046.severity = none # 'if' statement can be simplified
dotnet_diagnostic.IDE0058.severity = none # Remove unnecessary expression value # Want a special syntax for unused return
dotnet_diagnostic.IDE1005.severity = none # Delegate invocation can be simplified

# Eddie - Not accepted, we don't like the suggestion

dotnet_diagnostic.IDE0032.severity = none # Use auto property
dotnet_diagnostic.IDE0047.severity = none # Parentheses can be removed
dotnet_diagnostic.IDE0048.severity = none # Parentheses should be added for clarity
dotnet_diagnostic.IDE0049.severity = none # Name can be simplified # Suggest for example to adapt 'Int64' to 'long', still think 'Int64' is more clear.

# Eddie - False positive

dotnet_diagnostic.JSON002.severity = none # Probable JSON string detected
dotnet_diagnostic.IDE0079.severity = none # Remove unnecessary suppression # Detect CA1416 as unnecessary, but if compiled on net6 are necessary

# Eddie - Old, can be removed

#dotnet_diagnostic.CA1001.severity = none
#dotnet_diagnostic.CA1002.severity = none
#dotnet_diagnostic.CA1003.severity = none
#dotnet_diagnostic.CA1004.severity = none
#dotnet_diagnostic.CA1006.severity = none
#dotnet_diagnostic.CA1008.severity = none
#dotnet_diagnostic.CA1009.severity = none
#dotnet_diagnostic.CA1011.severity = none
#dotnet_diagnostic.CA1014.severity = none
#dotnet_diagnostic.CA1020.severity = none
#dotnet_diagnostic.CA1021.severity = none
#dotnet_diagnostic.CA1024.severity = none
#dotnet_diagnostic.CA1026.severity = none
#dotnet_diagnostic.CA1030.severity = none
#dotnet_diagnostic.CA1031.severity = none
#dotnet_diagnostic.CA1034.severity = none
#dotnet_diagnostic.CA1036.severity = none
#dotnet_diagnostic.CA1045.severity = none
#dotnet_diagnostic.CA1049.severity = none
#dotnet_diagnostic.CA1050.severity = none
#dotnet_diagnostic.CA1051.severity = none
#dotnet_diagnostic.CA1053.severity = none
#dotnet_diagnostic.CA1054.severity = none
#dotnet_diagnostic.CA1055.severity = none
#dotnet_diagnostic.CA1059.severity = none
#dotnet_diagnostic.CA1060.severity = none
#dotnet_diagnostic.CA1062.severity = none
#dotnet_diagnostic.CA1300.severity = none
#dotnet_diagnostic.CA1302.severity = none
#dotnet_diagnostic.CA1303.severity = none
#dotnet_diagnostic.CA1304.severity = none
#dotnet_diagnostic.CA1305.severity = none
#dotnet_diagnostic.CA1307.severity = none
#dotnet_diagnostic.CA1308.severity = none
#dotnet_diagnostic.CA1309.severity = none
#dotnet_diagnostic.CA1400.severity = none
#dotnet_diagnostic.CA1401.severity = none
#dotnet_diagnostic.CA1404.severity = none
#dotnet_diagnostic.CA1414.severity = none
#dotnet_diagnostic.CA1502.severity = none
#dotnet_diagnostic.CA1504.severity = none
#dotnet_diagnostic.CA1505.severity = none
#dotnet_diagnostic.CA1506.severity = none
#dotnet_diagnostic.CA1601.severity = none
#dotnet_diagnostic.CA1701.severity = none
#dotnet_diagnostic.CA1702.severity = none
#dotnet_diagnostic.CA1704.severity = none
#dotnet_diagnostic.CA1707.severity = none
#dotnet_diagnostic.CA1709.severity = none
#dotnet_diagnostic.CA1710.severity = none
#dotnet_diagnostic.CA1711.severity = none
#dotnet_diagnostic.CA1715.severity = none
#dotnet_diagnostic.CA1716.severity = none
#dotnet_diagnostic.CA1717.severity = none
#dotnet_diagnostic.CA1719.severity = none
#dotnet_diagnostic.CA1720.severity = none
#dotnet_diagnostic.CA1721.severity = none
#dotnet_diagnostic.CA1724.severity = none
#dotnet_diagnostic.CA1726.severity = none
#dotnet_diagnostic.CA1800.severity = none
#dotnet_diagnostic.CA1801.severity = none
#dotnet_diagnostic.CA1804.severity = none
#dotnet_diagnostic.CA1806.severity = none
#dotnet_diagnostic.CA1809.severity = none
#dotnet_diagnostic.CA1811.severity = warning
#dotnet_diagnostic.CA1815.severity = none
#dotnet_diagnostic.CA1816.severity = none
#dotnet_diagnostic.CA1819.severity = none
#dotnet_diagnostic.CA1820.severity = none
#dotnet_diagnostic.CA1822.severity = none
#dotnet_diagnostic.CA1823.severity = warning
#dotnet_diagnostic.CA1824.severity = none
#dotnet_diagnostic.CA1901.severity = none
#dotnet_diagnostic.CA2000.severity = none
#dotnet_diagnostic.CA2001.severity = none
#dotnet_diagnostic.CA2002.severity = none
#dotnet_diagnostic.CA2006.severity = none
#dotnet_diagnostic.CA2101.severity = none
#dotnet_diagnostic.CA2111.severity = none
#dotnet_diagnostic.CA2200.severity = none
#dotnet_diagnostic.CA2201.severity = none
#dotnet_diagnostic.CA2202.severity = none
#dotnet_diagnostic.CA2204.severity = none
#dotnet_diagnostic.CA2205.severity = none
#dotnet_diagnostic.CA2208.severity = none
#dotnet_diagnostic.CA2210.severity = none
#dotnet_diagnostic.CA2211.severity = none
#dotnet_diagnostic.CA2213.severity = none
#dotnet_diagnostic.CA2214.severity = none
#dotnet_diagnostic.CA2233.severity = none
#dotnet_diagnostic.CA2237.severity = none
#dotnet_diagnostic.CS0219.severity = none


[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf

[*.cs]
csharp_using_directive_placement = outside_namespace:silent
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = block_scoped:silent
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_indent_labels = one_less_than_current