[Desktop Entry]
Name=Eddie - OpenVPN UI
Comment=OpenVPN UI with additional user-friendly features
Exec=/usr/bin/eddie-ui
Icon=/usr/share/pixmaps/eddie-ui.png
Terminal=false
Type=Application
Categories=GNOME;Network

